[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.2"
psycopg2-binary = "==2.8.5"
youtube-dl = "==2020.7.28"

[dev-packages]
pytest = "==6.0.1"
pytest-randomly = "==3.4.1"

[requires]
python_version = "3.8"
