<!doctype html>
<html lang="en">
  <head>
      <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <title>Hello, world!</title>
</head>
<body>
    <div class="container">
        
        <!-- <form class="form-inline" action="/" method="POST"> -->
            <div  class="form-inline">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" class="form-control" id="playlist_uri" placeholder="playlist uri" name="id">
            </div>
            <button type="submit" class="btn btn-primary mb-2" onclick="submitPlaylist();">submit playlist</button>
            </div>
        <!-- </form> -->

        <table class="table table-striped table-hover table-sm">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">pk</th>
                    <th scope="row">title</th>
                    <th>is_down</th>
                    <th>added</th>
                    <th>youtube_id</th>
                    <th>playlist</th>
                </tr>
            </thead>
            <tbody>
                {% for video in context.videos %}
                    <tr>
                        {% for attr in video %}
                            <td>{{ attr }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        
    </div>
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
//         function submitPlaylist() {
//             console.log("submitPlaylist pressed...")
//             playlist_id = document.getElementById("playlist_uri");
//             data = {
//                 "id": playlist_id.value
//             }
// 
//             var xhr = new XMLHttpRequest();
//             xhr.open("POST", "/", true);
//             xhr.setRequestHeader('Content-Type', 'application/json');
//             xhr.send(JSON.stringify(data));
//         }

        function submitPlaylist() {
            console.log("button presses --> submitPlaylist()")
            
            let plst = {
                id: document.getElementById("playlist_uri").value,
            };
            
            let response = fetch('/api/createplaylist', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(plst)
            });
            
            document.getElementById("playlist_uri").value = "";

            console.log(response)
            // let result = response.json;
            // alert(result.message);
            
            // location.reload()
        }
    </script>

</body>
</html>
